@import url(https://fonts.googleapis.com/css?family=Space%20Grotesk);
body{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk';
}
.cardsInformation{
    height: 240px;
    width: 100%;
    background: url(./bg-main-mobile.png) no-repeat center;
    background-size: cover;
}
.cardsInformation>div{
    width: 374px;
    position: relative;
    margin: 0 auto;
}
.cardBack{
    width: 100%;
    margin: 0;
    padding-top: 30px;
}
.white{
    color: white;
}
.cardLogo{
    position: absolute;
    top: 130px;
    margin-left: 20px;
}

.cardFront{
    width: 100%;
    margin: 0;
}

.cardFront img{
    max-width: 300px;
    position: absolute;
    left: 0;
    top: 123px;
}

.cardBack img{
    max-width: 300px;
    position: absolute;
    right: 0;
}
.cardLogo img{
    max-width: 60px;
}

.validationCode{
    top: 100px;
    position: absolute;
    right: 50px;
    color: white;
}
.dataCard{
    position: absolute;
    width: 300px;
}

.cardNumber{
    position: absolute;
    top: 170px;
    letter-spacing: 3px;
    width: 300px;
    text-align: center;
    font-size: 18px;
}
.cardName{
    position: absolute;
    top: 230px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 11px;
}

.cardDate{
    position: absolute;
    top: 230px;
    right: 20px;
    font-weight: bold;
    font-size: 11px;
}

.formContent{
    margin: 120px 20px 15px
}

.content-input{
    color: hsl(278, 68%, 11%);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.content-input input{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    margin-top: 16px;
}
.text-success{
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
input.addSpace{
    margin-bottom: 16px;
}
.content-input-column{
    display: grid;
    grid-template-columns: 50% 50%;
}

.content-input-column>div{
    display:flex
}
.content-input-column>div>div{
    width: 50%;
    margin-right: 10px;
}
.d-block{
    display: block !important;
}

.content-input-column input{
    width: 100%;
    display: flex;
}
button{
    background-color: hsl(278, 68%, 11%);
    border: 1px solid hsl(278, 68%, 11%);
    width: 100%;
    height: 45px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: bold;
    color: hsl(270, 3%, 87%);
}
  
::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: bold;
    color: hsl(270, 3%, 87%);
}
  
:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: bold;
    color: hsl(270, 3%, 87%);
}
  
:-moz-placeholder {
    /* Firefox 18- */
    font-weight: bold;
    color: hsl(279, 6%, 55%)
}

input[data-state="invalid"] {  
    border-color: hsl(0, 76%, 50%);
}

.hidden{
    display: none;
}
@media (max-width: 600px) {
    .text-success {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .cardsInformation {
        height: 100vh;
        width: 30%;
        background: url(./bg-main-desktop.png) no-repeat center;
    }
    .cardsInformation>div {
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
    }
    .cardFront img {
        left: 180px;
    }
    .cardLogo {
        left: 180px;
    }
    .dataCard {
        top: 30px;
        left: 180px;
    }
    .validationCode {
        top: 385px;
        left: 450px;
    }
    .cardBack img {
        left: 220px;
    }
    .cardBack {
        margin-top: -30px;
        padding-top: 0px;
    }
    .formContent {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
    }
}

@media (min-width: 1050px) {
    .formContent {
        width: 60%;
    }
    form{
        width: 60%;
        margin: 0 auto;
    }

}